:root {
    /* Light */
    --light-color-background: #fafafa;
    --light-color-background-secondary: #eff0f1;
    --light-color-warning-text: #222;
    --light-color-background-warning: #e6e600;
    --light-color-icon-background: var(--light-color-background);
    --light-color-accent: #c5c7c9;
    --light-color-active-menu-item: var(--light-color-accent);
    --light-color-text: #222;
    --light-color-text-aside: #6e6e6e;
    --light-color-link: #1f70c2;

    --light-color-ts-keyword: #1d4ed8;
    --light-color-ts-project: #c026d3;
    --light-color-ts-module: var(--light-color-ts-project);
    --light-color-ts-namespace: var(--light-color-ts-project);
    --light-color-ts-enum: #ca8a04;
    --light-color-ts-enum-member: var(--light-color-ts-enum);
    --light-color-ts-variable: #4760ec;
    --light-color-ts-function: #7c3aed;
    --light-color-ts-class: #0891b2;
    --light-color-ts-interface: #059669;
    --light-color-ts-constructor: var(--light-color-ts-class);
    --light-color-ts-property: var(--color-text);
    --light-color-ts-method: var(--light-color-ts-function);
    --light-color-ts-call-signature: var(--light-color-ts-method);
    --light-color-ts-index-signature: var(--light-color-ts-property);
    --light-color-ts-constructor-signature: var(--light-color-ts-constructor);
    --light-color-ts-parameter: var(--light-color-ts-variable);
    /* type literal not included as links will never be generated to it */
    --light-color-ts-type-parameter: #ea580c;
    --light-color-ts-accessor: var(--light-color-ts-property);
    --light-color-ts-get-signature: var(--light-color-ts-accessor);
    --light-color-ts-set-signature: var(--light-color-ts-accessor);
    --light-color-ts-type-alias: #dc2626;
    /* reference not included as links will be colored with the kind that it points to */

    --light-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='10' height='10'><path fill-opacity='0' stroke='%23000' stroke-width='10' d='m43,35H5v60h60V57M45,5v10l10,10-30,30 20,20 30-30 10,10h10V5z'/></svg>");
    --light-color-scheme: light;

    /* Dark */
    --dark-color-background: #0a0a0a;
    --dark-color-background-secondary: #1e2024;
    --dark-color-background-warning: #78350f;
    --dark-color-warning-text: #222;
    --dark-color-icon-background: var(--dark-color-background-secondary);
    --dark-color-accent: #9096a2;
    --dark-color-active-menu-item: #5d5d6a;
    --dark-color-text: #f5f5f5;
    --dark-color-text-aside: #dddddd;
    --dark-color-link: #7dd3fc;

    --dark-color-ts-keyword: #60a5fa;
    --dark-color-ts-project: #e879f9;
    --dark-color-ts-module: var(--dark-color-ts-project);
    --dark-color-ts-namespace: var(--dark-color-ts-project);
    --dark-color-ts-enum: #fbbf24;
    --dark-color-ts-enum-member: var(--dark-color-ts-enum);
    --dark-color-ts-variable: #798dff;
    --dark-color-ts-function: #c084fc;
    --dark-color-ts-class: #22d3ee;
    --dark-color-ts-interface: #4ade80;
    --dark-color-ts-constructor: var(--dark-color-ts-class);
    --dark-color-ts-property: var(--color-text);
    --dark-color-ts-method: var(--dark-color-ts-function);
    --dark-color-ts-call-signature: var(--dark-color-ts-method);
    --dark-color-ts-index-signature: var(--dark-color-ts-property);
    --dark-color-ts-constructor-signature: var(--dark-color-ts-constructor);
    --dark-color-ts-parameter: var(--dark-color-ts-variable);
    /* type literal not included as links will never be generated to it */
    --dark-color-ts-type-parameter: #fb923c;
    --dark-color-ts-accessor: var(--dark-color-ts-property);
    --dark-color-ts-get-signature: var(--dark-color-ts-accessor);
    --dark-color-ts-set-signature: var(--dark-color-ts-accessor);
    --dark-color-ts-type-alias: #f87171;
    /* reference not included as links will be colored with the kind that it points to */

    --dark-external-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='10' height='10'><path fill-opacity='0' stroke='%23fff' stroke-width='10' d='m43,35H5v60h60V57M45,5v10l10,10-30,30 20,20 30-30 10,10h10V5z'/></svg>");
    --dark-color-scheme: dark;
}

/* markdown elements */

hr {
    height: 1px;
    border: none;
    background: var(--color-text);
    opacity: 0.2;
}

body pre,
body code {
    border-radius: 3px;
    border-color: var(--color-background-secondary);
    background-color: var(--color-background-secondary);
}

.tsd-typography tr:nth-child(even) {
    background-blend-mode: color-burn;
}

/* tsd elements */

table {
    overflow-x: scroll;
}

body .tsd-typography table td,
body .tsd-typography table th {
    border-color: var(--color-background-secondary);
}

.tsd-kind-property {
    opacity: 0.8;
}

.tsd-signature {
    border-radius: 3px;
    border-color: var(--color-background-secondary);
}

.tsd-signature a.external[target="_blank"] {
    text-decoration: underline;
}

.tsd-sources {
    opacity: 0.5;
}

/* layout elements */

.tsd-page-toolbar {
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-background-secondary);
    padding: 15px 0;
}

.tsd-page-navigation ul {
    padding-left: 1rem;
}

.page-menu > * summary {
    border-radius: 3px;
    padding: 0.25rem;
    background-color: var(--color-background-secondary);
    margin-bottom: 5px;
}

.page-menu > * summary h3 {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
}

@media all and (max-width: 1000px) {
    .site-menu {
        border-top: 1px solid var(--color-background-secondary);
        padding-top: 1rem;
    }
}

.tsd-navigation a.current,
.tsd-page-navigation a.current {
    border-radius: 3px;
}

footer {
    border-top: 1px solid var(--color-background-secondary);
    font-size: 0.75rem;
}

/* responsive fixes */

@media all and (max-width: 800px) {
    .tsd-panel {
        overflow-x: scroll;
    }

    #tsd-toolbar-links {
        display: none;
    }
}

@media (min-width: 1200px) {
    .page-menu,
    .site-menu {
        top: 120px;
    }
}

/* readme fixes */

.tsd-panel h1 {
    display: none;
    visibility: hidden;
}
