root = true

### All files
[*]
# Force charset utf-8
charset = utf-8
# Force Unix-style newlines with a newline ending every file & trim trailing whitespace
end_of_line = lf
# Indentation
indent_style = space
indent_size = 4

insert_final_newline = true
trim_trailing_whitespace = true

# Backend files
[*.{groovy,java,kt,kts,xml,xsd}]
continuation_indent_size = 8

### Frontend files
[*.{css,scss,less,js,json,jsx,ts,tsx,sass,html}]

### Markdown
[*.{md,mdx}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

### YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

### Storybook stories
[*.stories.{ts,tsx}]
indent_style = space
indent_size = 2

### Specific files
[{package,bower,lerna}.json]
indent_style = space
indent_size = 2