name: OSV Scanner - Scheduled

on:
  schedule:
    - cron: '27 6 * * 2'

permissions:
  actions: read
  contents: read

jobs:
  scan:
    name: Scan
    permissions:
      security-events: write
      actions: read
      contents: read
    if: ${{ github.event_name == 'push' || github.event_name == 'schedule' }}
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@9bb69575e74019c2ad085a1860787043adf47ccb # v2.2.4
    with:
      scan-args: |-
        -r
        --skip-git
        ./
