name: OSV Scanner - PR

on:
  pull_request:
    branches: [ "main" ]
  merge_group:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

permissions:
  actions: read
  contents: read

jobs:
  scan:
    name: Scan
    permissions:
      security-events: write
      actions: read
      contents: read
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@c5996e0193a3df57d695c1b8a1dec2a4c62e8730 # v2.3.3
    with:
      scan-args: |-
        -r
        --skip-git
        ./
