name: OSV Scanner - PR

on:
  pull_request:
    branches: [ "main" ]
  merge_group:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

permissions:
  actions: read
  contents: read

jobs:
  scan:
    name: Scan
    permissions:
      security-events: write
      actions: read
      contents: read
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@375a0e8ebdc98e99b02ac4338a724f5750f21213 # v2.3.1
    with:
      scan-args: |-
        -r
        --skip-git
        ./
